body {
    background: rgb(60, 0, 300);
}

.clase1 {
    color: rgb(0, 300, 0);
    font-family: sans-serif;
    font-style: italic;
    font-size: 200%
}

.clase2 {
    color: lightgreen;
}

.clase3 {
    color: rgb(250, 200, 50);
}

.clase4 {
    color: black;
}

/* Aquí finaliza el código CSS */